<div class="jumbotron">
  <h1 style="margin-top: 1em;">Parker Chorale</h1>
  <h3><em>Sharing the Gift of Song</em></h3>
    <div class="container">
      <div class="col-md-12  col-xs-12">
        <%= image_tag("parker_chorale.jpg", id: "chorus-photo") %>
        
      <h3>Parker, Colorado's adult community choral group!</h3>
      <h2>We are a community group dedicated to fostering the arts and supporting
        music education in the Town of Parker and Douglas County.
      </h2>
    </div>
  </div>
</div>

<div class="row bottom-20">
  <div class="col-md-3 col-md-offset-1">
    <h3>Upcoming Performances</h3>
      <% @upcoming_performances.each do |e| %>
        <% if e.start_date > Time.now %>
          <a href="<%= e.purchase_link.to_s %>">
            <% if e.event_pic_file_name.nil? %>
              <%= image_tag("chorale_logo.jpg", class: "home-page-thumbs") %>
            <% else %>
              <%= image_tag e.event_pic.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>
            <% end %>
          </a>
          <p><strong><%= e.title.titleize %></strong></p>
        <% end %>
      <% end %>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h3>Watch Us On</h3>
      <a href="https://www.youtube.com/channel/UCULrEMrY4fjYDY-JyPiIf2w">
        <%= image_tag(src="YouTube-logo-full_color.png", id: "home-youtube") %>
      </a>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h3>Join Us on Facebook</h3>
      <a href="http://www.facebook.com/pages/Parker-Chorale/369330451076">
        <%= image_tag "facebook-profile-pic.jpg", class: "home-page-thumbs" %>
      </a>
  </div>
</div>
