<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @contact.first_name %> <%= @contact.last_name %> is interested in Parker Chorale.</p>
    <p>Email: <%= @contact.email %></p>
    <p>Phone: <%= @contact.phone %></p>
    <p><%= @contact.message %></p>
  </body>
</html>