<h1>Practice Tools for Members</h1>

<% if @audio_files.blank? %>
  <p>No performances are currently scheduled.</p>
<% else %>
  <% @performances.each do |f| %>

    <h4 class="song-title"><strong>Music for <%= f.title.titleize %></strong></h4>

    <% if @song_list.empty? %>
      <p>No song files are currently uploaded for this event.</p>
    <% else %>
      <% @song_list.each do |song_title| %>
        <% @audio_files.each do |song_file| %>
          <% if song_file.title.titleize == song_title && song_file.performance.id == f.id %>
            <h3><strong><%= song_title %></strong></h3>
            <ul class="list-group">
              <li class="list-group-item">
                <% if song_file.mp3_file_name.end_with?("mp3") %>
                  <p>&bull;<%= song_file.part %></p>
                  <audio src="<%= song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>" type="audio/mpeg" controls>
                    Your browser doesn't suppport audio tags.
                  </audio>

                <% elsif song_file.mp3_file_name.end_with?("mov") %>
                  <p>&bull;<%= song_file.part %></p>
                  <video width="320" height="240" controls>
                    <source src="<%= song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>" type="video/mp4">
                    <source src="<%= song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>" type="video/ogg">
                  </video>

                <% else %>
                  <p>&bull;<%= song_file.part %></p>
                  <p>Open PDF in browser: <%= link_to song_file.title.titleize, song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>
                <% end %>
                <p>Download File: <%= link_to song_file.title.titleize, song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com'), download: song_file.title %>
              </li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <hr>
<% end %>

<hr>

<h3>National Anthem Tracks</h3>

<ul class="list-group">
  <li class="list-group-item">
    <p>&bull;Alto Practice</p>
    <audio src="https://s3-us-west-2.amazonaws.com/parker-chorale-prod/national_anthem_tracks/National+Anthem-PC+Alto+Practice.mp3" type="audio/mpeg" controls></audio>
  </li>
  <li class="list-group-item">
    <p>&bull;Bass Practice</p>
    <audio src="https://s3-us-west-2.amazonaws.com/parker-chorale-prod/national_anthem_tracks/National+Anthem-PC+Bass+Practice.mp3" type="audio/mpeg" controls></audio>
  </li>
  <li class="list-group-item">
    <p>&bull;Tenor Practice</p>
    <audio src="https://s3-us-west-2.amazonaws.com/parker-chorale-prod/national_anthem_tracks/National+Anthem-PC+Tenor+Practice.mp3" type="audio/mpeg" controls></audio>
  </li>
  <li class="list-group-item">
    <p>&bull;Full Choir Practice</p>
    <audio src="https://s3-us-west-2.amazonaws.com/parker-chorale-prod/national_anthem_tracks/National+Anthem-PC+Full+Choir+Practice.mp3" type="audio/mpeg" controls></audio>
  </li>
</ul>