<% if logged_in? %>
  <h1>Manage Song Files</h1>
  <% @audio_files.each do |e| %>
    <p><strong><%= link_to e.title.titleize, edit_audio_file_path(e) %> - <%= e.part %> - <%= e.performance.title %>
               <%= link_to "Delete", e, method: :delete, data: { confirm: "Really Delete?"} %>  
    </strong></p>
  <% end %>
<% else %>
  <h1>Practice Tools for Members</h1>
  <% @performances.each do |f| %>

    <h3>Music for <%= f.title.titleize %></h3>


    <% @song_list.each do |song_title| %>
      <p><strong><%= song_title %></strong></p>
        <% @audio_files.each do |song_file| %>
          <% if song_file.title == song_title %>
            <p>--<%= song_file.part %></p>
            <ul class="list-group">
              <li class="list-group-item">
                <% if song_file.mp3_file_name.end_with?("mp3") %>
                  <audio src="<%= song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>" type="audio/mpeg" controls>
                    Your browser doesn't suppport audio tags.
                  </audio>
                <% elsif song_file.mp3_file_name.end_with?("mov") %>
                  <video width="320" height="240" controls>
                    <source src="<%= song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>" type="video/mp4">
                    <source src="<%= song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>" type="video/ogg">
                  </video>
                <% else %>
                  <%= link_to song_file.title.titleize, song_file.mp3.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com') %>
                <% end %>
              </li>
            </ul>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>