<h1>Add Song</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@audio_file, url: admin_path, html: { multipart: true }) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :part %>
      <%= f.text_field :part %>

      <%= f.label :mp3 %>
      <%= f.file_field :mp3 %>

      <%= f.submit "Upload", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>