<h1>Add Supporter</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@supporter, html: { multipart: true }) do |f| %>

      <%= f.label :kind, 'Type' %>
      <%= f.select :kind, ['Business', 
                           'Individual'], class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Bob Smith", class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, placeholder: "555-555-5555", class: 'form-control' %>

      <%= f.label :website_url %>
      <%= f.text_field :website_url, class: 'form-control' %>

      <%= f.label :logo %>
      <%= f.file_field :logo %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>