<h1>Hear Us Sing</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Catch us at one of our upcoming performances, or check out videos of some
         of our past performances.
      </h2>
    </div>
  </div>

  <div class="row">
   <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= image_tag(src="group-standing-8033.jpg") %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Parker Chorale is on 
        <a href="https://www.youtube.com/channel/UCULrEMrY4fjYDY-JyPiIf2w">
          <%= image_tag(src="YouTube-logo-full_color.png", class: "logo") %>
        </a>
      </h2>
    </div>
  </div>
</div>

<h3>Upcoming Performances</h3>

<table class="table table-bordered">

<% if @performances.last.end_date < Time.now %>
  <p>No performances are currently scheduled.  Please check back soon.</p>
<% else %>
  <% @performances.each do |e| %>
    <% if e.end_date > Time.now %>
      <% if e.event_pic_file_name.nil? %>
        <tr>
          <td>
            <%= image_tag src="chorale_logo.jpg", class: "table-img" %>
          </td>
          <td>
            <p><strong><%= e.title %></strong></p>
            <% if e.end_date == e.start_date %>
              <p><%= e.start_date.strftime("%m/%d/%Y") %></p>
            <% else %>
              <p><%= e.start_date.strftime("%m/%d/%Y") %> through 
                 <%= e.end_date.strftime("%m/%d/%Y") %>
              </p>
            <% end %>
            <p>Performance Time: <%= e.start_date.strftime("%I:%M%p") %></p>
            <p><a href="https://parkerarts.ticketforce.com/eventperformances.asp?evt=431">
              BUY TICKETS</a>
            </p>

          <% if logged_in? %>
            <%= link_to "Delete", e, method: :delete, 
                                     data: { confirm: "Delete all files for this event?" } %>
          <% end %>
          </td>
        </tr>

      <% else %>

        <tr>
          <td>
            <%= image_tag e.event_pic.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com'), class: "table-img" %>
          </td>
          <td>
            <p><strong><%= e.title %></strong></p>
            <% if e.end_date == e.start_date %>
              <p><%= e.start_date.strftime("%m/%d/%Y") %></p>
            <% else %>
              <p><%= e.start_date.strftime("%m/%d/%Y") %> through 
                 <%= e.end_date.strftime("%m/%d/%Y") %>
              </p>
            <% end %>
            <p>Performance Time: <%= e.start_date.strftime("%I:%M%p") %></p>
            <p><a href="https://parkerarts.ticketforce.com/eventperformances.asp?evt=431">
              BUY TICKETS</a>
            </p>
          <% if logged_in? %>
            <%= link_to "Delete", e, method: :delete, 
                                     data: { confirm: "Delete all files for this event?" } %>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>

</table>

<h3>Past Performances</h3>

<table class="table table-bordered">
<% @performances.each do |e| %>
  <% if e.end_date < Time.now %>
    <% if e.event_pic_file_name.nil? %>
      <tr>
        <td>
          <%= image_tag src="chorale_logo.jpg", class: "table-img" %>
        </td>
        <td>
          <p><strong><%= e.title %></strong></p>
          <p><%= e.start_date.strftime("%m/%d/%Y") %> through 
             <%= e.end_date.strftime("%m/%d/%Y") %>
          </p>
          <p>Performance Time: <%= e.start_date.strftime("%I:%M%p") %></p>
        </td>
        <td class="embed-container">
          <%= embed(e.youtube_link) unless e.youtube_link.nil? %>
        <% if logged_in? %>
          <%= link_to "Delete", e, method: :delete, 
                                   data: { confirm: "Delete all files for this event?" } %>
        <% end %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td>
          <%= image_tag e.event_pic.url.gsub('http://s3.amazonaws.com', 'https://s3-us-west-2.amazonaws.com'), class: "table-img" %>
        </td>
        <td>
          <p><strong><%= e.title %></strong></p>
          <% if e.end_date == e.start_date %>
            <p><%= e.start_date.strftime("%m/%d/%Y") %></p>
          <% else %>
            <p><%= e.start_date.strftime("%m/%d/%Y") %> through 
               <%= e.end_date.strftime("%m/%d/%Y") %>
            </p>
          <% end %>
        </td>
        <% if e.youtube_link.empty? %>
          <td>
            <p class="no-performance-text">No links available for this performance.</p>
            <% if logged_in? %>
              <%= link_to "Delete", e, method: :delete, 
                                     data: { confirm: "Delete all files for this event?" } %>
            <% end %>
          </td>
        <% else %>
          <td class="embed-container">
            <%= embed(e.youtube_link) %>
          <% if logged_in? %>
            <%= link_to "Delete", e, method: :delete, 
                                     data: { confirm: "Delete all files for this event?" } %>
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
<% end %>
</table>
