<header class="navbar navbar-default header">

  <div class="container">
    <div class="heading navbar-header">
      <%= image_tag(src="chorale_logo.jpg", class: "logo") %>
    </div>
    <p class="pull-right">Parker, Colorado's Adult Community Choral Group!</p>
  </div>




      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


  <div class="menu">

    <div class="container collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_us_path %></li>
        <li><%= link_to "Hear Us Sing", hear_us_sing_path %></li>
        <li><%= link_to "Support Us", support_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
</header>


